* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "jost", sans-serif;
    outline: none;
    color: #5c4b51;
}

body {
    background-image: linear-gradient(to right top, #051937, #004a76, #00818d, #00b56c, #9dde0e);
}

.judul {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    width: 425px;
    height: auto;
    background: white;
    padding: 35px 50px;
    border-radius: 2px;
}

.title {
    text-align: center;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 30px;
}

.input_wrap {
    margin-bottom: 20px;
    width: 325px;
    position: relative;
}

.input_wrap:last-child {
    margin-bottom: 0;
}

.input_wrap label {
    display: inline-block;
    margin-bottom: 5px;
}

.input_wrap input {
    padding: 15px;
    width: 100%;
    border: 1px solid ;
    font-size: 20px;
    border-radius: 3px;
}

.input_wrap input:focus {
    border-color: #1dbf73;
}

.input_wrap .input_field {
    position: relative;
}

.error_msg {
    font-size: 15px;
    margin-bottom: 5px;
    color: #f74040;
    display: none;
}

.btn {
    text-transform: uppercase;
    letter-spacing: 3px;
    color: white;
    background: #1dbf73;
    cursor: pointer;
}
